<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Iria Orrego - Topics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        StudyApp
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-item *ngFor="let topico of topicos" >
      <ion-label [routerLink]="'/message/'+ topico.id">{{topico.id}} - {{topico.create_date}} - {{ topico.name}} - {{topico.topic_id}} 
        - {{topico.order}} - {{topico.priority}} - {{topico.color}} - {{topico.owner_user_id}}
      </ion-label>
      
      <ion-icon slot="end" name="create-outline" [routerLink]="'/edit-topic/'+ topico.id"></ion-icon>
      <ion-icon slot="end" name="trash-outline" (click)="eliminar(topico.id)"></ion-icon>
    </ion-item>
    
   <!--
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  --> 
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/edit-topic/0">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>